@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

header {
  font-size: 47px;
  text-align: center;
  border-bottom:3px solid black;

}
header a {
  text-decoration: none;
  color:black;
}
h1{
  margin-bottom: 0;
}
#topMenu{
  box-sizing: border-box;
  height: 30px;
  width: 780px;
  margin :auto;

}

#topMenu ul li {
  list-style: none;
  color: white;
  background-color: white;
  float: left;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-left: 75px;
}

#topMenu .menuList {
  text-decoration:none;
  color:black;
  display: block;
  font-size:20px;
  font-weight: bold;
  font-family:'Hanna', Sans-serif;
}

#topMenu .menuList:hover{
  color:white;
  background-color: black;
}


#mainStory {
  padding: 50px;
  text-align: center;
  text-justify: auto;
  font-family:'Hanna', Sans-serif;
}
#mainStory .introImage{
  margin-bottom: 100px;
  padding: 10px;
}
#mainChat .chat{
  float: left;
}
#profile {
  text-align: center;
  margin-top: 30px;
  margin-left:130px;
}
#profile .profileFace{
  margin-top: 50px;
  /* margin-bottom: 100px; */
  margin-left: 100px;
  float: left;
  width:30%;
  height:30%;
}
#profile .profileText{
  margin-right: 250px;
  font-family:'Hanna', Sans-serif;
}
#profile .profileText a {
  text-decoration: none;
}
